@font-face {
  font-family: 'Stormfaze';
    src: url('Stormfaze.otf'), format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(135deg, #0a6bd1, #081f3c);
  font-family: "Yeseva One", serif;
  color: #fff;
  text-align: center;
}

.logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
  font-family: 'Stormfaze';
}

p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
